In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input/classification-multi-classes'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/classification-multi-classes/sample_submission.csv
/kaggle/input/classification-multi-classes/train.csv
/kaggle/input/classification-multi-classes/test.csv

In [1]:
train_df = pd.read_csv("classification-multi-classes/train.csv", 
                      delimiter = ",",
                      header = 0)

train_df.head()

NameError: name 'pd' is not defined

In [52]:
train_df.shape

(15000, 20)

In [66]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14995 entries, 0 to 14999
Data columns (total 19 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   N_Days         14995 non-null  int64
 1   Drug           8559 non-null   object
 2   Age            14995 non-null  int64
 3   Sex            14995 non-null  object
 4   Ascites        8558 non-null   object
 5   Hepatomegaly   8559 non-null   object
 6   Spiders        8550 non-null   object
 7   Edema          14995 non-null  object
 8   Bilirubin      14995 non-null  float64
 9   Cholesterol    6666 non-null   float64
 10  Albumin        14995 non-null  float64
 11  Copper         8447 non-null   float64
 12  Alk_Phos       8553 non-null   float64
 13  SGOT           8550 non-null   float64
 14  Tryglicerides  6627 non-null   float64
 15  Platelets      14409 non-null  float64
 16  Prothrombin    14969 non-null  float64
 17  Stage          14995 non-null  int64
 18  Status         14995 non-null  object
dtypes: float64(9), int64(3), object(7)
memory usage: 2.3+ MB

- id : Identifiant unique de chaque patient ou enregistrement. 
- N_Days : Nombre de jours écoulés depuis un événement de référence (par exemple, diagnostic, début du suivi, ou début du traitement).
- Drug : Nom ou catégorie du médicament administré au patient.
- Age : Âge du patient (probablement en années).
- Sex : Sexe du patient (Male ou Female).
- Ascites : Présence d’ascite (accumulation de liquide dans la cavité abdominale). Valeurs possibles : Yes, No, ou NA (inconnue).
- Hepatomegaly : Présence d’hépatomégalie (augmentation du volume du foie). Valeurs possibles : Yes, No, ou NA.
- Spiders : Présence de telangiectasies en araignée (lésions vasculaires cutanées). Valeurs possibles : Yes, No, ou NA.
- Edema : Présence d’œdème. Peut inclure des catégories comme None, Slight, ou Marked.
- Bilirubin : Niveau de bilirubine dans le sang (en mg/dL), un marqueur de la fonction hépatique.
- Cholesterol : Niveau de cholestérol dans le sang (en mg/dL), souvent indicatif d’une santé globale ou de troubles métaboliques.
- Albumin : Niveau d’albumine dans le sang (en g/dL), un marqueur nutritionnel et de la fonction hépatique.
- Copper : Concentration de cuivre dans le sang ou l’urine (en µg/dL), indicateur d’une éventuelle maladie de Wilson ou autre désordre métabolique.
- Alk_Phos : Niveau de phosphatases alcalines (en UI/L), un indicateur de fonction hépatique ou osseuse.
- SGOT : Niveau d'enzymes transaminases (SGOT ou AST) (en UI/L), indicateur de dommages au foie ou à d’autres organes.
- Tryglicerides : Niveau de triglycérides dans le sang (en mg/dL), un marqueur lipidique et métabolique.
- Platelets : Nombre de plaquettes dans le sang (en milliers/μL), un indicateur de la coagulation.
- Prothrombin : Temps de prothrombine (en secondes ou % d’activité), un test de coagulation pour évaluer la fonction hépatique.
- Stage : Stade de la maladie, basé sur un système de classification (souvent de 1 à 4, où 4 est le plus sévère).
- Status : État ou issue du patient. Par exemple : Alive, Deceased, ou autres catégories.

In [54]:
train_df.describe()

,id,N_Days,Age,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage
count,15000.000000,15000.000000,15000.000000,15000.000000,6669.000000,15000.000000,8452.000000,8558.000000,8555.000000,6630.000000,14414.000000,14974.000000,15000.000000
mean,7499.500000,1966.998733,19248.502373,1.861462,327.670115,3.525314,74.715689,1667.605282,106.579545,110.297097,253.822027,10.627748,3.025667
std,4330.271354,1355.897299,3697.546749,2.752375,179.801705,0.369981,74.211915,1861.746315,56.493338,49.676146,94.074989,0.741888,0.877796
min,0.000000,3.000000,133.300000,0.300000,120.000000,1.800000,4.000000,16.000000,8.000000,33.000000,0.400000,7.100000,1.000000
25%,3749.750000,1092.000000,16374.000000,0.600000,242.000000,3.290000,31.000000,721.000000,71.000000,80.000000,183.000000,10.100000,2.000000
50%,7499.500000,1785.000000,19544.000000,0.900000,280.000000,3.580000,52.000000,1072.000000,97.650000,99.000000,251.000000,10.600000,3.000000
75%,11249.250000,2635.000000,22369.000000,1.800000,360.000000,3.770000,86.000000,1691.250000,133.300000,133.000000,312.000000,11.000000,4.000000
max,14999.000000,40795.000000,35472.000000,28.000000,1790.000000,4.640000,588.000000,19270.000000,2148.000000,598.000000,724.000000,18.000000,4.000000

In [55]:
# supprimer id
train_df.drop(columns='id',inplace = True)

In [56]:
# stage mettre en int
train_df['Stage'] = train_df['Stage'].astype('int')

In [57]:
train_df[train_df['Age']<train_df['N_Days']]
# problème à ce niveau car il est imossible d'avoir un age inferieur au nombre de jour de traitement
# les supprimer

,N_Days,Drug,Age,Sex,Ascites,Hepatomegaly,Spiders,Edema,Bilirubin,Cholesterol,Albumin,Copper,Alk_Phos,SGOT,Tryglicerides,Platelets,Prothrombin,Stage,Status
1263,2995.0,Placebo,2990.0,F,N,N,N,N,0.9,314.0,3.48,18.0,1164.0,71.00,260.0,340.0,10.0,2,C
4216,2504.0,D-penicillamine,133.3,F,N,N,N,N,2.1,NaN,3.00,24.0,1828.0,133.30,NaN,474.0,10.1,3,C
5860,3445.0,D-penicillamine,133.3,F,N,Y,N,N,2.3,NaN,3.61,39.0,1828.0,133.30,NaN,123.0,10.3,4,D
14686,13728.0,Placebo,13727.0,F,Y,Y,N,Y,12.2,373.0,2.94,150.0,1029.0,119.35,151.0,399.0,11.6,4,D
14692,40795.0,D-penicillamine,17874.0,F,N,N,Y,N,1.4,486.0,3.45,32.0,2201.0,117.80,70.0,410.0,11.7,3,C

In [58]:
train_df.drop(train_df[train_df['Age'] < train_df['N_Days']].index, inplace=True)

In [59]:
train_df[train_df['Age']<train_df['N_Days']]

Empty DataFrame
Columns: [N_Days, Drug, Age, Sex, Ascites, Hepatomegaly, Spiders, Edema, Bilirubin, Cholesterol, Albumin, Copper, Alk_Phos, SGOT, Tryglicerides, Platelets, Prothrombin, Stage, Status]
Index: []

In [60]:
train_df['Age'].describe()

count    14995.000000
mean     19252.596065
std       3688.884262
min       1150.000000
25%      16374.000000
50%      19544.000000
75%      22369.000000
max      35472.000000
Name: Age, dtype: float64

In [61]:
# probleme avec age qui est en jour
train_df['Age'] = round(train_df['Age'] / 365, 0)

In [62]:
# age mettre en int
train_df['Age'] = train_df['Age'].astype('int')

In [65]:
# Mettre N_Days en int
train_df['N_Days'] = train_df['N_Days'].astype('int')

In [64]:
train_df.describe()

count    14995.000000
mean        52.733378
std         10.078603
min          3.000000
25%         45.000000
50%         54.000000
75%         61.000000
max         97.000000
Name: Age, dtype: float64

In [69]:
# Valeur manquante
train_df.isna().sum()/len(train_df)*100

N_Days            0.000000
Drug             42.920974
Age               0.000000
Sex               0.000000
Ascites          42.927643
Hepatomegaly     42.920974
Spiders          42.980994
Edema             0.000000
Bilirubin         0.000000
Cholesterol      55.545182
Albumin           0.000000
Copper           43.667889
Alk_Phos         42.960987
SGOT             42.980994
Tryglicerides    55.805268
Platelets         3.907969
Prothrombin       0.173391
Stage             0.000000
Status            0.000000
dtype: float64

In [11]:
# visualisation de la variable cible :
train_df['Status'].value_counts()
# les classes sont déséquilibrées 
# en tenir compte

Status
C     10049
D      4560
CL      391
Name: count, dtype: int64

In [71]:
# Analyse de la variable Drug
train_df['Drug'].value_counts(dropna=False, normalize=True)
# Autant de placebo que de cachets
# plus de NaN

Drug
NaN                0.429210
D-penicillamine    0.304435
Placebo            0.266355
Name: proportion, dtype: float64